n8n nodes/MEGALLANICA - FB.json
{
  "name": "MEGALLANICA - FB",
  "nodes": [
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "attached_media",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1872,
        272
      ],
      "id": "6deb26c2-83f5-4200-8193-4cc167c89a7f",
      "name": "Feed",
      "disabled": true
    },
    {
      "parameters": {
        "httpRequestMethod": "=POST",
        "graphApiVersion": "v23.0",
        "node": "me",
        "edge": "photos",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "url",
                "value": "={{ $json.image_list }}"
              }
            ]
          },
          "queryParametersJson": "={ \n  \"message\": \"\",\n  \"published\": \"false\"\n}"
        }
      },
      "id": "dfa7bf1a-7fb8-433d-a583-0f74f755cbc4",
      "name": "MEGALLANICA - A",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        1392,
        272
      ],
      "typeVersion": 1,
      "credentials": {
        "facebookGraphApi": {
          "id": "OHG8gI06fQQahdTg",
          "name": "Facebook Graph account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "me",
        "edge": "feed",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $('prep1').item.json.title }} - {{ $('get bit ly').item.json.link }}"
              },
              {
                "name": "published",
                "value": "true"
              },
              {
                "name": "attached_media",
                "value": "={{ $json.attached_media }}"
              }
            ]
          }
        }
      },
      "id": "5d454766-a911-4818-aa74-73660e4f6768",
      "name": "MEGALLANICA - B",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        2080,
        272
      ],
      "typeVersion": 1,
      "credentials": {
        "facebookGraphApi": {
          "id": "OHG8gI06fQQahdTg",
          "name": "Facebook Graph account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5a5d1c59-a4a9-47e9-bb8c-db2d6d45fbc2",
              "name": "image_list",
              "value": "={{ $json.image_list_str }}",
              "type": "array"
            },
            {
              "id": "f47fc1e3-d430-4923-b740-8ed8012e1fcf",
              "name": "title",
              "value": "=Low stock item!\n1/144 HGUC RX-93 Nu Gundam - {{ $('get bit ly').item.json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        272
      ],
      "id": "2624901d-949e-49a7-9130-752a388af47e",
      "name": "prep1",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f7ba1bd-330d-4d5b-adde-b98f740e3be6",
              "name": "media_fbid",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1632,
        272
      ],
      "id": "5ff7aa6a-a479-4ba1-858a-a113d90195b2",
      "name": "prep2",
      "disabled": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "image_list",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1184,
        272
      ],
      "id": "d2adb8fb-4f64-4606-9daf-aa753271a3c0",
      "name": "split1",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bbbe3f4f-e371-4949-a56f-6f65f1784213",
              "name": "image_list_str",
              "value": "[ 'https://www.hlj.com/productimages/ban/banh579539-up_0.jpg', 'https://www.hlj.com/productimages/ban/banh579539-up_1.jpg', 'https://www.hlj.com/productimages/ban/banh579539-up_2.jpg' ]",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        480
      ],
      "id": "822858ba-c9ab-4cd3-a6f8-9a46352fd9d9",
      "name": "Edit Fields",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-ssl.bitly.com/v4/shorten",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{$env.BITLY_ACCESS_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \n  \"long_url\": \"{{ $('Loop Over Items').item.json.affiliate_url }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        288,
        -752
      ],
      "id": "c8663129-8eb5-481b-a9c2-64f1a3a6f90c",
      "name": "get bit ly"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1200,
        -768
      ],
      "id": "2caaeca1-3487-4917-8f36-40dd36856832",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -304,
        -768
      ],
      "id": "24eef9a5-16ff-4520-9d05-b103b90ee650",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        480
      ],
      "id": "5dc7f8b5-e172-4e44-a1d5-910cb2ef0b74",
      "name": "Code in JavaScript",
      "disabled": true
    },
    {
      "parameters": {
        "url": "http://gunpla-hlj-lowstock:8001/low-stock",
        "options": {}
      },
      "id": "cb8628fc-bfcf-4a96-b24f-e0aab5c9c92c",
      "name": "Fetch HLJ Low Stock",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -864,
        -768
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn items.flatMap(i => i.json.items || [])"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        -768
      ],
      "id": "2a39fe95-3d84-4a35-90e8-acde09cce93d",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node: Transform image_url → images array for Supabase\n// SOURCE OF TRUTH: scraper image_url only — no fabricated URLs\n// Handles: single string, comma-separated, or already an array\n\nreturn $input.all().map(item => {\n  const data = item.json;\n  const rawImage = data.image_url;\n\n  if (!rawImage) {\n    return { json: { ...data, images: [], image_count: 0 } };\n  }\n\n  // Normalize to array — loop through whatever scraper actually provides\n  let imagesArray = [];\n\n  if (Array.isArray(rawImage)) {\n    // Already an array from scraper\n    imagesArray = rawImage.filter(Boolean);\n  } else if (typeof rawImage === 'string' && rawImage.includes(',')) {\n    // Comma-separated multiple URLs: \"https://..., https://...\"\n    imagesArray = rawImage.split(',').map(u => u.trim()).filter(Boolean);\n  } else if (typeof rawImage === 'string') {\n    // Single URL — wrap as-is, no modification\n    imagesArray = [rawImage];\n  }\n\n  return {\n    json: {\n      ...data,\n      images: imagesArray,       // Supabase JSONB array field\n      image_count: imagesArray.length\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        -752
      ],
      "id": "aabc290e-ef69-4fd0-b3f3-358924eae694",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5a5d1c59-a4a9-47e9-bb8c-db2d6d45fbc2",
              "name": "image_list",
              "value": "={{ $('Code in JavaScript2').item.json.images }}",
              "type": "array"
            },
            {
              "id": "f47fc1e3-d430-4923-b740-8ed8012e1fcf",
              "name": "title",
              "value": "=Low stock item!\n1/144 HGUC RX-93 Nu Gundam - {{ $json.link }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        -752
      ],
      "id": "bf2d59e6-7776-45b7-a64d-9ec0339a8ad7",
      "name": "prep"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "attached_media",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1392,
        -752
      ],
      "id": "a1bb7991-bb42-4e1b-879e-8605c558ec86",
      "name": "Feed1"
    },
    {
      "parameters": {
        "httpRequestMethod": "=POST",
        "graphApiVersion": "v23.0",
        "node": "me",
        "edge": "photos",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "url",
                "value": "={{ $json.image_list }}"
              }
            ]
          },
          "queryParametersJson": "={ \n  \"message\": \"\",\n  \"published\": \"false\"\n}"
        }
      },
      "id": "3e0579fe-dff8-4964-903a-c2ede0e64b49",
      "name": "MEGALLANICA - A1",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        912,
        -752
      ],
      "typeVersion": 1,
      "credentials": {
        "facebookGraphApi": {
          "id": "OHG8gI06fQQahdTg",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "me",
        "edge": "feed",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $('Code in JavaScript2').item.json.stock }}\n{{ $('Code in JavaScript2').item.json.name }} - {{ $('get bit ly').item.json.link }}\n{{ $('Code in JavaScript2').item.json.price_jpy }}\n\n\n\n"
              },
              {
                "name": "published",
                "value": "true"
              },
              {
                "name": "attached_media",
                "value": "={{ $json.attached_media }}"
              }
            ]
          }
        }
      },
      "id": "e8e60059-39ed-41b6-9017-33278677cb1b",
      "name": "MEGALLANICA - B1",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        1600,
        -752
      ],
      "typeVersion": 1,
      "credentials": {
        "facebookGraphApi": {
          "id": "OHG8gI06fQQahdTg",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f7ba1bd-330d-4d5b-adde-b98f740e3be6",
              "name": "media_fbid",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        -752
      ],
      "id": "a0d2e9d3-9f4c-44ff-803f-cef8334cf1ac",
      "name": "prep3"
    },
    {
      "parameters": {
        "fieldToSplitOut": "image_list",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        704,
        -752
      ],
      "id": "7688db9f-3304-4d53-b8f1-5404eb40045a",
      "name": "split"
    },
    {
      "parameters": {
        "tableId": "=news_backlog",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "source",
              "fieldValue": "={{ $json.source ?? '=' }}"
            },
            {
              "fieldId": "title",
              "fieldValue": "={{ $json.title ?? '=' }}"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.content ?? '=' }}"
            },
            {
              "fieldId": "score",
              "fieldValue": "={{ $json.score ?? 0 }}"
            }
          ]
        }
      },
      "id": "292e820e-584a-4805-bfc4-7307fa97ef77",
      "name": "Supabase Archive",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -976,
        112
      ],
      "credentials": {
        "supabaseApi": {
          "id": "OZZlfyiNQsAVjZxj",
          "name": "Supabase account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "news_backlog",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id ?? 0 }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "embedding",
              "fieldValue": "=={{ JSON.stringify($json) }}"
            }
          ]
        }
      },
      "id": "8115d5b6-4868-4b53-92f6-55c395efa542",
      "name": "Persist Embedding v1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -448,
        528
      ],
      "credentials": {
        "supabaseApi": {
          "id": "OZZlfyiNQsAVjZxj",
          "name": "Supabase account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:5001/embed",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"inputs\": \"{{ $json.embed_text }}\"}\n",
        "options": {}
      },
      "id": "ffc4e323-e0d5-4f83-b4ea-5242ccbb90d8",
      "name": "HF Embed (Local)1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -624,
        400
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Prep embed_text for Python server (D:\\PROJECT\\doc-ingest\\embed_server.py)\nfor (const item of $input.all()) {\n  item.json.embed_text = `${item.json.title || ''} ${item.json.content || ''}`.trim();\n  item.json.supabase_id = item.json.id || item.json.supabase_id;\n}\nreturn $input.all();"
      },
      "id": "ea8c21c9-30cf-458a-b6c3-6266cb4686bb",
      "name": "embed_text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        240
      ],
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "Feed": {
      "main": [
        [
          {
            "node": "MEGALLANICA - B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MEGALLANICA - A": {
      "main": [
        [
          {
            "node": "prep2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prep1": {
      "main": [
        []
      ]
    },
    "prep2": {
      "main": [
        [
          {
            "node": "Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split1": {
      "main": [
        [
          {
            "node": "MEGALLANICA - A",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get bit ly": {
      "main": [
        [
          {
            "node": "prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Fetch HLJ Low Stock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch HLJ Low Stock": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "get bit ly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prep": {
      "main": [
        [
          {
            "node": "split",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feed1": {
      "main": [
        [
          {
            "node": "MEGALLANICA - B1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MEGALLANICA - A1": {
      "main": [
        [
          {
            "node": "prep3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prep3": {
      "main": [
        [
          {
            "node": "Feed1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split": {
      "main": [
        [
          {
            "node": "MEGALLANICA - A1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Archive": {
      "main": [
        [
          {
            "node": "embed_text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HF Embed (Local)1": {
      "main": [
        [
          {
            "node": "Persist Embedding v1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "embed_text": {
      "main": [
        [
          {
            "node": "HF Embed (Local)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MEGALLANICA - B1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2d9c6b7a-5df9-4097-a024-22ae23a99efe",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7ea691c6f51efbbf05182e7534f0b6bc407916e9380348f32610ab7adee2da23"
  },
  "id": "HCPfwakiVEeKOotC",
  "tags": []
}